body {
  background-image: url("../imgs/navy_blue.png");
}

table {
  height: 300px;
  overflow: scroll;
}
.plate {
  width: 100%;
  max-height: 17em;
  border: solid 4px black;
  border-radius: 2em;
}
.bg-primary, .btn-primary {
  background-color: grey !important;
  border-color: black !important;
}

.btn-info, .bg-info {
  background-color: darkblue !important;
}