body {
  background-image: url("../imgs/navy_blue.png");
}

.plate {
  width: 100%;
  height: auto;
  border: solid 4px black;
  border-radius: 2em;
}
.plate img {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}

.bg-primary, .btn-primary {
  background-color: grey !important;
  border-color: black !important;
}

.btn-info, .bg-info {
  background-color: darkblue !important;
}